body{
  font-family:Montserrat;
}


#title{
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid{
  padding: 3% 15% 7%;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: Montserrat;
}
p{
  color: #8f8f8f;
  font-family: Montserrat-lighter;
  font-size: 1.3rem;
}
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: Ubuntu;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;

}
.nav-item{
  padding: 0 18px;
  font-size: 1.2rem;
  font-family: Montserrat-light;
  font-weight: lighter;
}
.Download-button{
  margin: 5% 3% 5% 0;
}

.phone{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  left: 30%;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;

}
.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

.Download{
  margin: 1rem;
}

#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;


}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width:15%;
  margin:20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

/* footer and call to action */

#cta{
  background-color:  #ff4c68;
  color: #fff;

  text-align: center;
  padding: 7% 15%;
}

#footer{
  text-align:center;
  padding:7% 15%;
}

.footer_text{
  font-style: Montserrat-lighter;
  font-weight: lighter;
  font-size: 3.5rem;
  line-height: 1.5;
}

.footer_btn{
  padding: 20px 10px;
}

.Download-button_footer{
  margin: 5% 3% 5%;
}



@media (max-width: 994px){
  #title{
    text-align: center;
  }

  .phone{
    position: static;
    transform: rotate(0);
  }
}
